{% extends "base" %}

{% block content %}

<div id="base" class="container section">
    <div class="position-relative">

        <h5 class="border-bottom border-gray pb-2 mb-0 pt-3">Infos</h5>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                <rect fill="#007bff" width="100%" height="100%"></rect>
                <text fill="#007bff" dy=".3em" x="50%" y="50%"></text>
            </svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Klassendiagramm</strong>
                Ein Klassendiagramm muss mindestens eine Klasse enthalten.Notwendige syntax in <> Klammern.<br>
                Syntax für ein Klassendiagramm: <br>
                &ltKlassendiagramm{&gt Hier kommen Klassen und Relationen in gültiger Syntax rein, alles andere wird
                ignoriert &lt}Klassendiagramm&gt<br>
                <br><b>Beispiel</b><br>
                Klassendiagramm{<br>
                &ltKlasse1&gt &ltKlasse2&gt ignorierter Text kann auch kommentar sein
                <Relation><br>
                    }Klassendiagramm
            </p>
        </div>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                <rect fill="#e83e8c" width="100%" height="100%"></rect>
                <text fill="#e83e8c" dy=".3em" x="50%" y="50%"></text>
            </svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Klasse</strong>
                Klasse{<br>
                typ: abstract name:p0<br>
                --<br>
                +atr 1<br>
                -atr2<br>
                #atr3<br>
                +atri4 :int usw<br>
                --<br>
                - methoden<br>
                -semi<br>
                }
            </p>
        </div>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                <rect fill="#6f42c1" width="100%" height="100%"></rect>
                <text fill="#6f42c1" dy=".3em" x="50%" y="50%"></text>
            </svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Relation</strong>
                V{(p1/p2) typ:impl ; m1: 0..n ; m2: 3 ;desc: beschreibung}<br>
                <br>von p1 nach p2 vom typ Implementierung<br>
                m1 & m2 sind die Kardinalitäten der jeweiligen Seite<br>
                bei desc kann man eine beschreibung einfügen<br>
        </div>
    </div>
</div>


{% endblock content %}